<html>
 <head>
  <title>cpanminus Web</title>
  <style>
  #stream-wrapper { 
      border: 1px solid; 
      padding 5px; 
      height: 400px; 
      width: 600px; 
      overflow: auto;
      background: black;
  }
  #stream { 
      padding: 5px;
      color: white;
      height: 100%;
      width: 100%;
  }
  #m {
      width: 200px;
  }
  </style>
 </head>
 
 <body class="yui-skin-sam">
  <h2>cpanminus Web</h2>
  <div>
  <form id="install">
    Distro Name: <input type="text" id="m"> <input type=submit value=Install>
  </form>
  </div>
  <div id="stream-wrapper">

<pre id="stream">Enter the name of a CPAN distribution to install
</pre>
  </div>
 
<script type="text/javascript" src="http://j.shirley.im/yui3/build/yui/yui.js"></script>
<script type="text/javascript">
(function() {
YUI({
    base: "http://j.shirley.im/yui3/build/",
    combine: false,
    patterns: {
        'gallery-': {
            base: "http://j.shirley.im/yui3-gallery/build/"
        }
    }
}).use( "json", "node", "base", "gallery-io-stream", function(Y) {
    var base_url = '/run/cpanm?mxhr=1&args=';
 
    var stack = [];
    var output = Y.one('#stream');
 
    Y.on('stream:packet', 
        function(body, headers) {
            try {
                var data = Y.JSON.parse(body);
                output.append( data.msg + "<br/>\n"); 
                stack.push(data);
            } catch(e) {
            }
        }
    );
    document.getElementById("install").onsubmit = function(){
        var dist = document.getElementById("m").value;
        if (dist) {
            new Y.IOStream({
                uri: base_url + dist,
            }).start();
        }
        return false;
    };
 
    window.setTimeout(
        function() { 
            stream.stop(); 
        }, 60000);
    });
 
})();
</script>
 
</body>
</html>